header {
  background-image: url("../../images/pixel/magellanmedia-hero.jpg"); }

.knowhow {
  margin-top: 60px; }

#cardFrontend .card__description__tag {
  color: #282b31; }

#cardFrontend .card__showcase {
  background-color: #282b31;
  background-image: url("../../images/pixel/services/magellan-frontend.png"); }

#cardBackend .card__description__tag {
  color: #13293d; }

#cardBackend .card__showcase {
  background-color: #13293d;
  background-image: url("../../images/pixel/services/magellan-backend.png"); }

#cardPerformance .card__description__tag {
  color: #cfc0a6; }

#cardPerformance .card__showcase {
  background-color: #cfc0a6;
  background-image: url("../../images/pixel/services/magellan-performance.png"); }

#cardScreendesign .card__description__tag {
  color: #c2cbd4; }

#cardScreendesign .card__showcase {
  background-color: #c2cbd4;
  background-image: url("../../images/pixel/services/magellan-screendesign.png"); }

#cardPrint .card__description__tag {
  color: #f7cf9d; }

#cardPrint .card__showcase {
  background-color: #f7cf9d;
  background-image: url("../../images/pixel/services/magellan-print.png"); }

.cat_design {
  display: none; }

#app .card__description__tag {
  color: #5c5749; }

#app .card__showcase {
  background-color: #5c5749;
  background-image: url("../../images/pixel/projects/preview/magellan-roentgenapp.png"); }

#messmer .card__description__tag {
  color: #adb0a0; }

#messmer .card__showcase {
  background-color: #e7e7e7;
  background-image: url("../../images/pixel/projects/preview/magellan-messmer.png"); }

#tariffuxx .card__description__tag {
  color: #633eaf; }

#tariffuxx .card__showcase {
  background-color: #633eaf;
  background-image: url("../../images/pixel/projects/preview/magellan-tariffuxx.png"); }

#ph .card__description__tag {
  color: #ae8f67; }

#ph .card__showcase {
  background-color: #ae8f67;
  background-image: url("../../images/pixel/projects/preview/magellan-screendesigns-ph.png"); }

#hallo .card__description__tag {
  color: #c2cbd4; }

#hallo .card__showcase {
  background-color: #c2cbd4;
  background-image: url("../../images/pixel/projects/preview/magellan-halloapp.png"); }

#oculustravel .card__description__tag {
  color: #272828; }

#oculustravel .card__showcase {
  background-color: #272828;
  background-image: url("../../images/pixel/projects/preview/magellan-oculustravel.png"); }

#juedmuseum {
  background-image: url("../../images/pixel/projects/preview/magellan-juedmuseum.png"); }

#grundschule {
  background-image: url("../../images/pixel/projects/preview/magellan-grundschule.png"); }

#msk {
  background-image: url("../../images/pixel/projects/preview/magellan-msk.png"); }

#fewo {
  background-image: url("../../images/pixel/projects/preview/magellan-fewogutjahr.png"); }

#derwisch {
  background-image: url("../../images/pixel/projects/preview/magellan-derwisch.png"); }

#best {
  background-image: url("../../images/pixel/projects/preview/magellan-best.png"); }

#medienwerke .card__description__tag {
  color: #7ac142; }

#medienwerke .card__showcase {
  background-color: #7ac142;
  background-image: url("../../images/pixel/projects/preview/magellan-medienwerke.png"); }

#rezept .card__description__tag {
  color: #f7cf9d; }

#rezept .card__showcase {
  background-color: #f7cf9d;
  background-image: url("../../images/pixel/projects/preview/magellan-rezept.png"); }

#roadtrip .card__description__tag {
  color: #664632; }

#roadtrip .card__showcase {
  background-color: #664632;
  background-image: url("../../images/pixel/projects/preview/magellan-roadtrip.png"); }

#juedlehrhaus .card__description__tag {
  color: #2e84b7; }

#juedlehrhaus .card__showcase {
  background-color: #2e84b7;
  background-image: url("../../images/pixel/projects/preview/magellan-juedlehrhaus.png"); }

#nglrvsntv .poster__showcase {
  background-image: url("../../images/pixel/blog/preview/thesis-devtools.png"); }

#wllppr .poster__showcase {
  background-image: url("../../images/pixel/blog/preview/magellan-paris.png"); }

.title__cta {
  margin-top: .8em; }
