header {
  border: 0;
  height: 480px;
  padding-bottom: 0; }

.heroimage {
  position: absolute;
  z-index: 0;
  min-height: 100%;
  width: auto;
  min-width: 100%;
  left: 0;
  top: 0; }
  @media (max-width: 29.375em) {
    .heroimage {
      margin-left: -210%; } }

.title a {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.title h2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: .5em; }

.title h1 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-bottom: 3em; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 3.5em 11em 0 0; }
  @media (max-width: 53.125em) {
    .page {
      padding: 2em 2em 0 2em; } }
  @media (max-width: 23.75em) {
    .page {
      padding: 1.7em 1.3em 0 1.3em; } }
  .page__author, .page p, .page b {
    opacity: 1; }
  .page__date {
    font-family: 'Montserrat';
    color: #8e969a;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .05em; }
  .page__text a {
    border-bottom: 2px solid #7D7D7D;
    color: #3A4145;
    -webkit-transition: 100ms;
    transition: 100ms; }
    .page__text a:hover {
      padding-bottom: .1em;
      border-color: #FFCC00;
      color: #1F1F1F;
      -webkit-transition: 100ms;
      transition: 100ms; }
  .page__image {
    margin-top: 1em;
    width: 100%; }
    .page__image--large {
      width: 1000px;
      margin-left: -100px;
      -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.09);
              box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.09); }
      @media (max-width: 68.75em) {
        .page__image--large {
          width: 100%;
          margin-left: 0; } }
    .page__image--wrapper {
      position: relative; }
      @media (max-width: 68.75em) {
        .page__image--wrapper {
          overflow: hidden; } }
      .page__image--wrapper div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 625px;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 1em;
        width: 1000px;
        margin-left: -100px;
        -webkit-transition: .1s;
        transition: .1s; }
        @media (max-width: 68.75em) {
          .page__image--wrapper div {
            width: 100%;
            margin-left: 0;
            height: 100%; } }
        .page__image--wrapper div h5 {
          color: transparent; }
      .page__image--wrapper:hover div {
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-transition: .1s;
        transition: .1s; }
        .page__image--wrapper:hover div h5 {
          color: white; }
          @media (max-width: 43.125em) {
            .page__image--wrapper:hover div h5 {
              margin: 1em 0;
              font-size: 1.1em; } }
          @media (max-width: 26.25em) {
            .page__image--wrapper:hover div h5 {
              margin: .8em 0;
              font-size: .8em; } }
  .page .video {
    width: 100%;
    height: 351px; }
